.game {
  display: flex;
  flex-direction: row;
  gap: 25%;
  height: 63%;
  justify-content: center;
}

main {
  width: min(450px);
}

.grid {
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(7, minmax(0, 1fr));
  width: 90%;
}

@media (max-width: 1050px) {
  main {
    width: min(330px);
  }
  .block {
    border-radius: 7px;
    border: 3px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 950px) {
  main {
    width: min(260px);
  }

  .game {
    height: 55%;
  }
}

@media (max-width: 770px) {
  .game {
    height: 35%;
    margin: 90px 0 20px 0;
    gap: 5px;
  }
  main {
    width: min(150px);
  }
  .grid {
    width: 100%;
  }
  .block {
    border-radius: 3px;
  }
}
